@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,700&display=swap');

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #49515d;
}

#navbar {
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    font-size: 1.5rem;
    background-color:  rgba(27, 79, 114, 1.0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#navbar ul {
    display: flex;
    margin: 0 1rem 0 0;
}

#navbar ul li {
    list-style: none;
    padding: 0.8rem 1rem;
    cursor: pointer;
    text-align: center;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
}

#navbar ul li:hover {
    background-color:  #1c2833;
    transition: 0.4s;
}

#welcome-section {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(45deg, rgba(73,81,93,1) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 60%, rgba(73,81,93,1) 100%);
}

#welcome-section h1 {
    font-size: 4rem;
    margin: 0;
}

#welcome-section p {
    font-weight: 200;
    font-size: 2rem;
    margin: 0;
}

#projects {
    width: 100%;
    height: 90vh;
    background: linear-gradient(315deg, rgba(73,81,93,1) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 60%, rgba(73,81,93,1) 100%);
}

#projects-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    text-align: center;
}

#projects-header div {
    width: 100%;
    color: #1c2833;
    font-size: 2rem;
    border: 1px solid rgba(73, 81, 93, 0.4);
    background-color: rgba(73, 81, 93, 0.2);
    cursor: pointer;
}

#projects-header div:hover {
    background-color: #1c2833;
    color: white;
    transition: 0.4s;
}

#project-presentation {
    display: flex;
    justify-content: space-around;
}

#project-preview, #project-container {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project-preview {

}

#project-container {

}

#project-container-title {
    margin-bottom: 1rem;
}

.project-tile {
    text-align: center;
    /* padding: 1.5rem 4rem; */
    width: 50%;
    padding: 1.5rem 0;
    margin: 1rem 0;
    background-color: rgba(73, 81, 93, 0.2);
}

.project-tile:hover {
    background-color: #1c2833;
    transform: translateY(-0.5rem);
    box-shadow: 0 0 5px 2px rgba(73, 81, 93, 0.75);
    transition: 0.3s;
}

.project-tile:hover a {
    color: white;
}

.project-tile a {
    padding: 1.5rem 5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #1c2833;
}

img {
    width: 80%;
    height: auto;
    display: none;
    box-shadow: 0 0 10px 0 rgba(73, 81, 93, 0.75);
}

.preview-animation {
    display: block;
    animation: fadein 0.75s ease-out;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(0%)
    }
}